.edit-icon {
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
}

img.img-avatar {
  width: 50%;
  align-items: center;
}
div.contact-card {
  height: auto;
  width: 400px;
  border: solid gray;
  border-radius: 16px;
  padding: 20px;
  margin: 20px;
}
